.keyword {
    -fx-fill: #C9C983;
    -fx-font-weight: bold;
}

.editor-test-class {
   -fx-background-color:  #2B3233;
   -fx-text-fill: #FFFFFF
}

.default {
    -fx-fill: #D4EAF0;
    -fx-text-fill: #D4EAF0
}

.lineNumber {
    -fx-background-color:  #2B3233;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: transparent #E7E7E1 transparent transparent;
    -fx-text-fill: #B9B768;
}

.caret {
    -fx-stroke: #b7cbd4;
}

#menuBar {
   -fx-hgap: 100%;
   -fx-vgap: 100%;
   -fx-background-color: #2B3233;
}

#menuBar .menu * {
    -fx-background-color: #2B3233;
}

#menuBar .menu-item:hover, #menuBar .menu-item:focused, #menuBar .menu-item:hover > .label, #menuBar .menu-item:focused > .label,
 #menuBar .menu:hover, #menuBar .menu:focused, #menuBar .menu:hover > .label, #menuBar .menu:focused > .label, #menuBar .menu:showing, #menuBar .menu:showing > .label {
   -fx-background-color: #0096c9;
}

#menuBar .label {
     -fx-text-fill: #FFFFFF;
 }
